<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=`device-width`, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
   <title>Document</title>
 </head>
 <body>
   <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin System</a>
</nav>
   <div class="container-fluid">
     ...
   </div>
 </body>
 </html>
