body{
	background: #eee;
	padding:30px;
	font-family: "Microsoft YaHei" ;
}
.content{
	max-width: 1170px;
	width: 95%;
	height: auto;
	background: #fff;
	padding:30px;
	-moz-box-shadow:1px 1px 1px #D4D4D4; 
	-webkit-box-shadow:1px 1px 1px #D4D4D4; 
	box-shadow:1px 1px 1px #D4D4D4;
}

.content h2{
	font-weight: normal;
}
.content span{
    display: block;
    font-size: 2em;
    margin: 0px 0px 20px 0px;
}

.content nav {
	height: 40px;
	margin: 20px 0 40px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 20px 0 0 0;
	position: relative;
}

.content nav a{
	width: 70px;
	height: 20px;
    display:block; 
	float: left;
	text-align:left;
	color: #384048;
	text-decoration: none;
	font-family: "Microsoft YaHei" ;
	font-size: 16px;
	text-align: center;

}

.content #slidebar {
    height: 2px;
    background: #39448c;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: all .5s;
}

.content hr {
    border-top: 1px solid #eee;
    border-left: none;
    border-right:none;
    border-bottom: none;
    margin: 30px 0;
}
.content .copyright{

	font-size: 14px;
	color: #a1a1a1;
}